body {
  background: 
}

.jumbotron {
  background: #EEEEEE;
  opacity: 0.5;
  margin: 10px 0px 10px 0px;
  text-align: center;   
}

.panel {
  width: 450px;
  position: absolute;
  top: 350px;
  left: 800px;

}

.btnGroup {
  position: relative;
}

.letter {
    width: 40px;
    height: 40px;
    border-style: solid;
    padding: 2px;
    
    margin: 2px;
  }

  .letter-button-color {
    color: darkcyan;
  }

  #display {
    margin-top: 78px;
    height: 200px;
    width: 220px;
    margin-left: 40px;
  }

  #buttons {
    padding-top: 60px;
  }

  #clear {
    margin-left: 20px;
    font-size: 25px;
    color: black;
    border-style: solid;
    width: 100px;
    background: #FFFFFF;
  }

  #gallow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px
  }

